body {
}

#content {
    width: 100%;
}

#header {
    margin-top: 50px;
    text-align: center;
}

#customerInfo {
    float:left;
}

#menu {
    float: right;
}

#orderInfo {
    text-align: center;
}

#custInfo {
    float:left;
}

#order {
    float:right;
}

#ordering {
    height:auto;
}

#managementReport {
}

#reportGV {
    margin: 0 auto 0 auto;
}

#navigation {
}